
body {
    font-family: Arial, sans-serif;
    color: #ff0000bd;
    background-color: #000;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #111;
    padding: 15px;
}

.navbar a {
    color: #ff0000bd;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar a:hover {
    color: #ffffff;
}

.content {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #ffffff;
}

.video-section, .bio-section {
    margin-top: 22px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

iframe {
    width: 100%;
    height: 200px;
}

.profile-pic {
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

.footer {
    background-color: #111;
    color: #ff0000bd;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    position: sticky
}

.content sua-foto {
   text-align: center;
}